@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* Roboto substitui Gilroy */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap');
/* Assistant substitui Sovereign */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Assistant', sans-serif;
}

body{
    background-color: blueviolet;
}

.h-container{
    background-image: url('assets/header_01.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: -12vw;
}

.stars{
    position: relative;
    top: 23vw;
    left: 17.5vw;
    width: 25%;
}

.wars{
    position: relative;
    top: 22vw;
    left: 40.5vw;
    width: 25%;
}

.kylo{
    position: relative;
    top: -4vw;
    left: 8.5vw;
    width: 70%;
    z-index: 99999;
}

.h-txt{
    position: absolute;
    left: 80vw;
    top: 33vw;
    width: 15%;
    font-family: 'Open Sans', sans-serif; 
}

.p-legion, .p-legion-two{
    text-transform: uppercase;
    text-align: left;
    font-size: 1.6vw;
}

.p-legion-two{
    width: max-content;
}

.p-legion-two::after{
    content: '';
    display: block;
    border: 1px solid;
    width: 100%;
    margin: 1vh 0;
}

.h-txt div{
    display: flex;
    align-items: center;
}

.p-number{
    font-size: 1.2vw;
}

.p-number span{
    font-size: 1.7vw;
}

.h-btn-spc{
    margin-left: 1rem;
}

.h-btn{
    margin-left: .3rem;
}

.h-btn, .h-btn-spc{
    background-color: #a9bdc1;
    color: #050606;
    cursor: pointer;
    border: none;
    padding: 0 .2vw;
    text-align: center;
    font-size: .5vw;
    font-weight: 800;
    margin-top: .6rem;
}

.main-first-container{
    background-image: url('assets/main\ [1]_00.png');
    background-color: white;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}

.main-first-box{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}

.main-card{
    background-image: url('assets/main\ [1]_01.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -2vw;
    left: 6vw;
    z-index: 99999;
}

.main-card h3{
    width: 60%;
    font-size: 2.6vw;
    padding: 4rem 0;
    position: relative;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.paragraph-card{
    font-size: 1.1vw;
    padding: 0 2rem 5rem 2rem;
    position: relative;
    color: white;
    text-align: left;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.card-btn{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: .5rem 2rem;
    position: relative;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.paragraph-card-especial{
    width: 80%;
    font-size: 0.8rem;
    padding: 2rem 0 3rem 0;
    color: white;
    text-align: right;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
}

.main-first-txt{
   display: flex;
   align-items: flex-end;
   gap: 1rem;
   position: relative; 
   bottom: 1.5vw; 
   width: 58%;
}

.about-game{
    display: flex;
    flex-direction: column;
    position: relative;
}

.about-game h3{
    font-weight: 800;
    font-size: 1.6vw;
    text-transform: uppercase;
    align-self: flex-end;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.about-game h3::after{
    content: '';
    display: block;
    position: relative;
    left: 20%;
    border: 2px solid;
    width: 9vw;
    margin: 1vh 0;
}

.about-game p{
    font-weight: 600;
    font-size: 1vw;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}   

.about-fig{
    width: 100vw;
}

.about-fig img{
    width: 100%;
}

.main-line{
    display: block;
    width: 78%;
    height: 4px;
    background-color: black;
    position: relative;
    left: 14vw;
    margin-top: 2.5rem;
}

.main-second-box{
    max-width: 1600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    padding: 4rem 0 6rem;
}

.sith{
    width: 47%;
    position: absolute;
    z-index: 9999;
    left: 5vw;
    bottom: -3vw;
}

.rey{
    width: 24%;
    position: absolute;
    z-index: 9999;
    right: 0;
}

.main-box-nav{
    display: flex;
    flex-direction: column;
    width: 30vw;
    position: relative;
    left: 5.5vw;
    z-index: 99999;
}

.main-box-nav h2{
    width: 25vw;
    align-self: flex-end;
    text-align: right;
    font-size: 3.7vw;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.nav-h2-spc{
    font-weight: 900;
    font-family: 'Roboto', sans-serif;    
}

.main-ul{
    display: flex;
    flex-direction: column;
}

.main-ul li{
    align-self: flex-end;
    text-align: right;
    margin-top: 1rem;
    width: 30vw;
}

.main-ul li:hover{
    background-color: #d74430;
}

.main-ul a{
    font-size: 1.9vw;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
}

.main-ul a:hover{
    color: white;
}

.main-mid-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    background-color: #2D2D2D;
}

.main-mid-box{
    max-width: 1640px;
    padding-top: 8rem;
    position: relative;
    margin: 0 auto;
}

.attribute{
    font-size: 2.65vw;
    padding-bottom: 3rem;
    margin-left: 7vw;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.mid-img-box{
    display: flex;
    width: 100%;
}

.mid-img-box img{
    width: 100%;
}

/* BIG CARD!! */

.fig-big{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.big-card{
    width: 100%;
    height: 100%;
    padding: 1.5rem 3rem 1rem 2.5rem;
    position: absolute;
    top: -505px;
    color: white;
    transition: 1s all;
    background-color: rgb(215, 68, 48, 0.7);
}

.fig-big:hover .big-card{
    top: 0;
}

.big-card::before, .big-card::after{
    content: '';
    border: 2px solid white;
    position: absolute;
    width: 10%;
}

.big-card::before{
    top: .3rem;
    left: 0.9rem;
    right: 1rem;
}

.big-card::after{
    bottom: 1.2rem;
    right: 1rem;
}

.big-card h3::before{
    content: '';
    border: 2px solid white;
    position: absolute;
    height: 80px;
}

.big-card h3::before{
    top: -1rem;
    left: -1.6rem;
}

.big-card p::after{
    content: '';
    border: 2px solid white;
    position: absolute;
    height: 80px;
}

.big-card p::after{
    bottom: 1.2rem;
    right: 1rem;
}

.big-card h3{
    width: 55%;
    text-align: left;
    position: relative;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.big-card p{
    width: 100%;
    margin: 2rem 0 4rem 0;
    font-size: 1.5vw;
    font-weight: 300;
    font-family: 'Assistant', sans-serif;
}

.big-card button{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    font-size: .8vw;
    font-weight: 300;
    padding: .5vw 2.5vw;
}

/* BIG CARD!! */

.fig-mid{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.mid-card{
    width: 100%;
    height: 100%;
    padding: 1.5rem 3rem 1rem 2.5rem;
    position: absolute;
    top: -255px;
    color: white;
    transition: 1s all;
    background-color: rgb(215, 68, 48, 0.7);
}

.fig-mid:hover .mid-card{
    top: 0;
}

.mid-card::before, .mid-card::after{
    content: '';
    border: 2px solid white;
    position: absolute;
    width: 13%;
    margin: 0;
}

.mid-card::before{
    top: .3rem;
    left: 0.9rem;
    right: 1rem;
}

.mid-card::after{
    bottom: 1.2rem;
    right: 1rem;
}

.mid-card h3::before{
    content: '';
    border: 2px solid white;
    position: absolute;
    height: 70%;
}

.mid-card h3::before{
    top: -1rem;
    left: -1.6rem;
}

.mid-card p::after{
    content: '';
    border: 2px solid white;
    position: absolute;
    height: 20%;
}

.mid-card p::after{
    bottom: 1.2rem;
    right: 1rem;
}

.mid-card h3{
    width: 55%;
    text-align: left;
    position: relative;
    font-size: 1.35vw;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.mid-card p{
    width: 100%;
    margin: 1rem 0 2rem 0;
    font-size: .8vw;
    font-weight: 300;
    font-family: 'Assistant', sans-serif;
}

.mid-card button{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    font-size: .8vw;
    font-weight: 300;
    padding: .5vw 2.5vw;
}

.mid-second-box{
    max-width: 1640px;
    margin: 0 auto;
}

.mid-second-box figure{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mid-second-box img{
    width: 100%;
}

.mid-second-box figcaption{
    width: 55%;
    font-size: 1.05vw;
    padding-top: 1.5rem;
    color: white;
    text-align: right;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.mid-second-box h2{
    font-size: 2.65vw;
    padding: 10rem 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Assistant', sans-serif;
}

.main-low-container{
    width: 100%;
    position: relative;
    background-color: white;
}

.low-wrapper{
    max-width: 1640px;
    padding-bottom: 15rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.black-cape-fig{
    width: 20%;
    position: relative;
}

.black-cape-fig img{
    width: 19vw;
    position: absolute;
    bottom: -2vw;
    left: 10vw;
}

.main-low-btns{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 6rem;
    gap: 6rem;
}

.main-low-h3{
    font-size: 2vw;
    padding-bottom: 1.5rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.main-low-h3:hover{
    font-weight: 800;
}

.low-btn{
    cursor: pointer;
    padding: 0.5vw 2.7vw;
    font-size: 1.6vw;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: black;
    background: linear-gradient(to right, black 50%, #d74430 50%);
    background-size: 200%;
    transition: 0.5s ease-out;
}

.low-btn:hover{
    background-color: #d74430;
    background-position: right;
}

.main-low-btns p{
    font-size: 1.05vw;
    font-weight: 300;
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.low-spc{
    padding-top: 1.5rem;
}

.download, .choice, .explore{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.low-line{
    width: 40%;
    height: 4px;
    display: block;
    margin-top: 1.5rem;
    background-color: black;
    background: linear-gradient(to right, black 50%, #d74430 50%);
    background-size: 200%;
    transition: 0.5s ease-out;
}

.low-line:hover{
    background-color: #d74430;
    background-position: right;
}

.footer-container{
    max-width: 1920px;  
    height: fit-content;
    background-color: white;
    position: relative;
}

.footer-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #FF5A56;
    position: relative;
}

.footer-box{
    width: 70%;   
    padding: 4rem 19.5rem 2rem;
    text-align: left;
}

.footer-box h2{
    font-size: 2.65vw;
    padding-bottom: 2rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Assistant', sans-serif;
}

.footer-box p{
    width: 88%;
    font-size: 1.05vw;
    font-weight: 300;
    color: white;
    font-family: 'Open Sans', sans-serif;    
}

.fig-sociais{
    display: flex;
    gap: 1rem;
    width: 100%;
    position: relative;
    padding-top: 2rem;
}

.footer-line{
    content: '';
    display: block;
    border: 2px solid black;
    width: 86.5%;
    margin: 3rem 0;
}

.fig-sociais img{
    width: 100%;
}

.footer-swlogo{
    width: 40%;
    padding-bottom: 1rem;
}

.footer-swlogo img{
    width: 100%;
}

.fig-vader img{
    width: 39vw;
    position: absolute;
    z-index: 9999;
    bottom: 1.2rem;
    right: 6.5rem;
}

.footer-img-div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    width: 40%;
}

.footer-img-div p{
    width: 60%;
    text-align: left;
    font-size: .7rem;
    padding-bottom: 2rem;
    word-break: break-all;
    font-weight: 400;
    color: black;
    font-family: 'Open Sans', sans-serif;  
}
